.navigation li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation li:hover {
    text-decoration: underline;
}
.navigation .nav-active {
    color: red;
    /* border: 1px solid red; */
}